*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sofia",sans-serif;
}

body{
    zoom: 80%;
    background-color: rgb(178, 101, 249);
}

.container{
    background-color: #fff;
    width: 80vw;
    max-width: 40em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(80, 3, 84, 0.5);
}

.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #b922ff;
    color: black;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.search-wrapper input{
    font-size: 1.2em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #b922ff;
    outline: none;
    color: black;
}

#result{
    margin-top: 1.25em;
}

.container .flag-img{
    display: block;
    width: 40%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
    border: 2px solid black;
    padding: 5px;
}

.container h2{
    font-weight: 600;
    color: #b922ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: #b922ff;
}

.container span{
    color: black;
}

.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}